/** Temporary CSS hacks - awaiting review by Adam */

p,li,ul{ font-size:15px;font-weight:200;line-height:1.6em; }
#main { padding-top: 0px; }
a i {  }
.header-inner h1 { margin-bottom: 10px; }
.header-inner h2 { font-size: 1.5em; margin-bottom: 0px; }
.tab-content { border:none; padding-left:0; padding-right:0;}
.tab-pane { padding: 0; }
.taxonomy-bcrumb li { padding-left: 28px; }
.panel-body img { margin:0; !important; }


/** changes for AoLS */
/*.pg-header { margin-top: 20px; }*/
.main-content { padding-left:0px; padding-right:0px; }
#main { padding-left: 0px; }
.tab-content { padding-top: 15px; }
.taxonomy-bcrumb { background-color: transparent; }

#related-searches {
    margin-top: -10px;
}

#related-searches h4 {
    padding: 0;
    margin-bottom: 8px;
}
#related-searches ul {
    padding: 0;
}

.panel.main-content {
    border-color:transparent;
}
a > i{color:inherit;}
a > i:hover{color:inherit;}

#currentTaxonConcept {color:#df4a21;}

.floating-menu {
    font-family: sans-serif;
    background: coral;
    padding: 5px;;
    width: 200px;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.floating-menu a,
.floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
}

h2::before {
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
}






