/** CSS to reflect the agriculture.gov.au style */

body {
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size:13px;
    color: #444;
    background: #d5d2ca none repeat scroll 0 0;
}

p,li,ul{ font-size:15px;font-weight:200;line-height:1.6em; }
#main { padding-top: 0px; }
a i {  }
.header-inner h1 { margin-bottom: 10px; }
.header-inner h2 { font-size: 1.5em; margin-bottom: 0px; }
.tab-content { border:none; padding-left:0; padding-right:0;}
.tab-pane { padding: 0; }
.taxonomy-bcrumb li { padding-left: 28px; }
.panel-body img { margin:0; !important; }

a, a:link, a:visited {
    color: #343434;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pg-header { margin-top: 20px; }
.main-content { padding: 1em; }
#main { padding-left: 0px; }
.tab-content { padding-top: 15px; }
.taxonomy-bcrumb { background-color: transparent; }

.panel {
    border-radius: 0;
    box-shadow: none;
}

.well {
    background: #e0f0f2;
    border: none;
    border-bottom: thick solid #165788;
    border-radius: 0;
    box-shadow: none;
}

.panel-description, .panel-actions, .panel-data-providers, .panel-resources, .result {
    background: #e0f0f2;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: thick solid #284e36;
}

.panel-description {
    border-bottom-color: #284e36;
}

.panel-resources {
    border-bottom-color: #343434;
}

.panel-actions {
    border-bottom-color: #823c47;
}

.panel-data-providers {
    border-bottom-color: #343434;
}

.panel-default > .panel-heading {
    background: transparent;
    border: none;
    border-radius: 0;
}

.panel-footer {
    background: transparent;
    border: none;
    border-radius: 0;
}


#related-searches h4 {
    padding: 0;
    margin-bottom: 8px;
}
#related-searches ul {
    padding: 0;
}

.panel.main-content {
    border-color:transparent;
}
a > i{color:inherit;}
a > i:hover{color:inherit;}


.breadcrumb {
    border-radius: 0;
}

#currentTaxonConcept {color:#df4a21;}

.floating-menu {
    font-family: sans-serif;
    background: coral;
    padding: 5px;;
    width: 200px;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.floating-menu a,
.floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
}

h1 {
    color:#777;
    font-weight:200;
}


h2::before {
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
}

h2, h3, h4, h5, h6 {
    color:#262626;
    font-weight:300;
}

h2 {
    font-size:1.46em;
}

h3 {
    font-size:1.15em;
}

h4, h5, h6 {
    font-size:1em;
}

hr
{
    border-width:0px;
    border-top:1px solid #c6c6c6;
}


.clearfix {
    overflow: auto;
}

/* Form layout */

input[type="text"] {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #343434;
    border-radius: 0;
    display: block;
    padding: 0.6em 0.8em;
    line-height: normal;
    color: #444;
    box-shadow: 2px 2px 2px 0px #343434;
}

button, input[type="submit"] {
    background: #343434 none repeat scroll 0 0;
    border: 1px solid #343434;
    color: #ffffff;
    display: block;
    margin: 0;
    min-width: 2em;
    outline-offset: -1px;
    overflow: hidden;
    padding: 0.6em 0.8em;
    line-height: normal;
    border-radius: 0;
    box-shadow: 2px 2px 2px 0px #343434;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    background: #343434 none repeat scroll 0 0;
    border: 1px solid #343434;
    color: #ffffff;
    display: block;
    margin: 0;
    min-width: 2em;
    outline-offset: -1px;
    overflow: hidden;
    padding: 0.6em 0.8em;
    line-height: normal;
    border-radius: 0;
    box-shadow: 2px 2px 2px 0px #343434;
}

#nav-search {
    width: 100%;
    box-shadow: none;
}

.page-search input {
    height: 36px;
}

#search-inpage {
    margin-bottom: 2em;
}

/* Layout: header, footer, etc */

#header-wrapper {
    display: block;
    background-color: #857d6f;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner {
    display: block;
/*    margin: 0 auto; */
}

.banner:after{
    clear: both;
    content: "";
    display: block;
}

.logo {
    background: transparent url('../images/logo.png');
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    width: 145px;
    height: 100px;
}

.top-links-search-wrapper {
    float: right;
}

.top-links {
    background: #343434 none repeat scroll 0 0;
    display: block;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0.5em 0 0.5em 0.8em;
}

.top-links li::after {
    content: "|";
    display: inline-block;
    margin: 0 0.4em;
}

.top-links li:last-child::after, .top-links li.last::after {
    content: "";
}

.top-links li {
    color: #ffffff;
    float: left;
    font-size: smaller;
}

.top-links a {
    color: #ffffff;
}

.navbar-form {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.footer {
    background: #343434;
    color: #ffffff;
    padding: 0.5em 0.3em 0 0;
    width: 100%;
    overflow: hidden;
    padding-bottom: 3em;
    text-align: center;
}

.footer-links ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.footer-links li::after {
    content: "|";
    display: inline-block;
    margin: 0 0.4em;
}

.footer-links li:last-child::after, .footer li.last::after {
    content: "";
}

.footer-links li {
    display: inline-block;
    list-style: outside none none;
    margin: 1em 0;
    text-align: center;
}

.footer a {
    color: #ffffff;
}

/* Search result: Refine results */
.refine-box {padding-left: 0; padding-right: 0;}
.refine-box h2 {font-size: 24px; line-height: 29px; margin: 0; padding-left: 19px; padding-right: 19px;}
.refine-box h2 a {display: block;}
.refine-box h2 a:hover, .refine-box h2 a:focus {text-decoration: none;}
.refine-box h2 span {font-size: 14px; position: relative; top: -2px;}
.current-filters {margin-top: 10px; padding: 10px 19px; background-color: #e3e3e3;}
.current-filters h3 {font-size: 20px; line-height: 24px; margin: 0 0 4px 0;}
.current-filters ul {margin: 0;}
.refine-list {padding-left: 19px; padding-right: 19px;}
.refine-list h3 {font-size: 20px; line-height: 24px; margin: 14px 0 4px 0;}
.refine-list ul {margin: 0;}
a.expand-options {border-top: 1px solid #e3e3e3; display: block; padding-top: 2px; margin-top: 6px;}


